.header-role-tagline{
    margin: 6px 0 0 0;
    font-size: 20px;

}

.social .social-icon i {
    padding-left: 0px;

    padding: 9px;

  
}

.social .social-icon i:hover {

    transform: scale(1.6);

}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: brown;
    align-items: center;
    justify-content: space-between;
}

.header-details-name{
    font-size: 24px;
}

.header-picture{
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 0 100px 0;
    box-shadow: 0 2px 0 0 var(--loader-color);
    height: 390px;
    width: 390px;
}

.header-container {
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    background-image: url("../../assets/Header-Home/window-2.jpg");
    
}

.header-options .highlighted-btn {
    margin: 0 0 0 29px;

}

.header-details-role{
    flex-direction: column;
    display: flex;
    margin: 15px 0 25px 0;
}

.header-options .highlighted-btn:hover {
    background-color: wheat;
    margin: 0 0 0 29px;
    color: black
}

.header-picture-background {
    background-size: cover;
    width: 91%;
    background-position: center;
    background-image: url("../../assets/Header-Home/SNValadez-Infosys.jpeg");
    background-repeat: no-repeat;
    height: 91%;
    border-radius: 50%;
    cursor: pointer;
    
}

.stoke-me-base
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.header-picture-background:hover {

    transition: var(--sea-green-shadow);

    transition: 1s ease-out;

    transform: scale(1.08);

}

.header-parent{
    align-items: center;
    display: flex;
    color: rgb(251, 246, 246);
}

.header-details-role{
    font-family: cursive;
    font-size: 20px;

}

.primary-text{
    color: (--white);
}

.highlighted-text{
    color: #fd1500;


}



@media screen and (max-width: 910px) {

    .header-picture{


        width: 318px;
        margin: 0 0 0 5px;
        height: 318px;

    }


    
}



@media screen and (max-width: 1110px){
    
    .header-details-role .primary-text{
        font-size: 13px;
    }


    .header-picture{
        margin: 0 0 0 79px;
    }

    .header-details-name{
        font-size: 21px;
    }

    
    .header-options .btn{
        z-index: 710;
        width: 115px;
        padding: 12px 0;

    }
}

@media  and max width {
    
}